

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Sintony&family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Sintony&family=Tomorrow&display=swap');

body{
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    padding: 0px;  
}
p.mainMenu {
    display: none;
 }
 .navBlock{
    display: flex;
    align-items: center;
  }
   
.logo {
    margin-top: 50px;
    margin-left: 80px;
    padding: 0;

}
.subject {
    margin-left: 10px;
    margin-right: 40px;  
}
.subject_a {
    color: rgb(142, 139, 139);
    font-family: 'Raleway';
}
.navBlock {
    top: 40px;
    padding: 0;
    display: flex;
}

ul {
    display: flex;
}

li {
    font-family: 'Raleway';
    font-size: 16px;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin-right: 40px;
    margin-top: 0;
    color: black;

}
a {
    text-decoration: none;
    color: black;
}

.stories {
    margin-right: 0px;
    padding: 0;
}
.ukr {
    margin-left: 310px;
    margin-right: 0;
    padding: 0;
    color: blue;
}
main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 122vh 122vh;
    font-family: 'Raleway';
}
h3 {
  margin-left: 210px;
  margin-top: 186px;
  font-size: 16px;
  text-transform: uppercase;
  color: blue;
  font-family: 'Raleway';
}
h1 {
    font-weight: 700;
    margin-left: 210px; 
}

h5 {
    margin-left: 210px;
    margin-top: 50px;
    color: rgb(94, 92, 92);
    font-weight: 300;
}
button {
    width: 213px;
    height: 55px;
    margin-left: 210px;
    margin-top: 70px;
    background-color: rgb(37, 37, 244);
    color: white;
}
div.education, div.orange{
    width: 721px;
    height: 766px;
}
div.description {
    width: 437px;
    height: 88px;
    line-height: 1.5;

}
div.description-meta {
    width: 520px;
    height: 170px;
   line-height: 1.5;
 
}

@media screen and (max-width:1000px){
    .header {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding-top: 20px;
    }
}
    p.mainMenu {
        margin-left: 20px; 
        margin-right: 10px;
        display: block;
    }
    
    .logo {
            width: 20px;
            height: 40px;
            left: 20px;
            right: 20px;
            top: 20px;
        }
    
    .subject_a, a.schools, a.partners, a.support {
            display: none;
        }
    .main {
        display: grid;
        grid-template-rows: repeat(1,2fr);
    }
    div.program, div.meta, div.schools, div.people, div.participants, div.orange, div.description{
        width: 450px;
        height: 700px;
        padding: 0;
        justify-items: start;
       
}
    



