

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Sintony&family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Sintony&family=Tomorrow&display=swap');

body{
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    padding: 0px;  
}
p.mainMenu {
    display: none;
 }
 .navBlock{
    display: flex;
    align-items: center;
  }
   
.logo {
    margin-top: 50px;
    margin-left: 80px;
    padding: 0;

}
.subject {
    margin-left: 10px;
    margin-right: 40px;  
}
.subject_a {
    color: rgb(142, 139, 139);
    font-family: 'Raleway';
}
.navBlock {
    top: 40px;
    padding: 0;
    display: flex;
}

ul {
    display: flex;
}

li {
    font-family: 'Raleway';
    font-size: 16px;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin-right: 40px;
    margin-top: 0;
    color: black;

}
a {
    text-decoration: none;
    color: black;
}

.stories {
    margin-right: 0px;
    padding: 0;
}
.ukr {
    margin-left: 310px;
    margin-right: 0;
    padding: 0;
    color: blue;
}
main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 237vh 237vh;
    font-family: 'Raleway';
}
h3 {
  font-size: 16px;
  text-transform: uppercase;
  color:blue;
  font-family: 'Raleway';
}
h1 {
    margin-top: 10vh;
    font-weight: 700;
    font-size: 38px;
}
h5 {
   margin-top:20vh;
   color: rgb(94, 92, 92);
   font-weight: 300;
}

button {
    width: 14vw;
    height: 16vh;
   
    margin-top:12vh;
    background-color: rgb(37, 37, 244);
    color: white;
}
.program div {
  margin-top: 50vh;
  margin-left: 14vw;
}
.meta div{
    margin-top: 50vh;
    margin-left: 8vw;
    width: 36vw;
    height: 10vh;
    line-height: 1.5;
}
.meta button {
  margin-left: 10vw;
}
@media screen and (max-width:780px) {
    main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 110vh;
    font-family: 'Raleway';
    }
}
@media screen and (max-width:780px) {
    p.mainMenu{
        margin-left: 4vw;
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
    }
}
@media screen and (max-width:780px){
  .logo {
  margin-top:11vh;
  margin-left: 5vw;
  }
}
@media screen and (max-width:780px){
  .subject {
  margin-top:13vh;
  margin-left:3vw;
  }
}
@media screen and (max-width:780px) {
    .about, a.schools, a.partners{  
         display: none;
    }
}
@media screen and (max-width:780px){
  .ukr {
  margin-left:4vw;
  }
}
  
@media screen and (max-width:780px){
  .program div {
  margin-top:20vh;
  margin-left:8vw;
  }
}
@media screen and (max-width:780px){
  h3 {
  font-size: 12px;
  text-transform: uppercase;
  color:blue;
  font-family: 'Raleway';
  }
}
@media screen and (max-width:780px){
    h1 {
    margin-top: 4vh;
    font-weight: 700;
    font-size: 22px;
    }
}
@media screen and (max-width:780px){
h5 {
   margin-top:10vh;
   color: rgb(94, 92, 92);
   font-weight: 300;
   width:30vw;
}
}
@media screen and (max-width:780px){
     button {
    width: 20vw;
    height: 8vh;
    margin-top:6vh;
    background-color: rgb(37, 37, 244);
  color: white;
     }
}
@media screen and (max-width:780px){
     .education img, .orange img {
  width: 50vw;
  height: 110vh;
     }
}
@media screen and (max-width:780px){
     .meta div{
    margin-top: 30vh;
    margin-left: 8vw;
    width: 36vw;
    height: 10vh;
    line-height: 1.5;
     }
}
@media screen and (max-width:780px){
     .meta button {
  margin-left: 8vw;
       margin-top:2vh;
     }
}



