

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Sintony&family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Sintony&family=Tomorrow&display=swap');

body{
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    padding: 0px;  
}
.logo {
    margin-top: 50px;
    margin-left: 80px;
    padding: 0;

}
.navBlock {
    display: flex;
    align-items: center;
}
.subject {
    margin-left: 10px;
    margin-right: 40px;  
}
.subject_a {
    color: rgb(142, 139, 139);
    font-family: 'Raleway';
}
.navBlock {
    top: 40px;
    padding: 0;
}

ul {
    display: flex;
}

li {
    font-family: 'Raleway';
    font-size: 16px;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin-right: 40px;
    margin-top: 0;
    color: black;

}
a {
    text-decoration: none;
    color: black;
}

.stories {
    margin-right: 0px;
    padding: 0;
}
.ukr {
    margin-left: 310px;
    margin-right: 0;
    padding: 0;
    color: blue;
}
main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 122vh 122vh;
    font-family: 'Raleway';
}
h3 {
  margin-left: 210px;
  margin-top: 186px;
  font-size: 16px;
  text-transform: uppercase;
  color: blue;
  font-family: 'Raleway';
}
h1 {
    font-weight: 700;
    margin-left: 210px; 
}

h5 {
    margin-left: 210px;
    margin-top: 50px;
    color: rgb(94, 92, 92);
    font-weight: 300;
}
button {
    width: 213px;
    height: 55px;
    margin-left: 210px;
    margin-top: 70px;
    background-color: rgb(37, 37, 244);
    color: white;
}
div.education, div.orange{
    width: 721px;
    height: 766px;
}
div.description {
    width: 437px;
    height: 88px;
    line-height: 1.5;

}
div.description-meta {
    width: 520px;
    height: 170px;
   line-height: 1.5;
 
}


